.securex-dropdown-action {
    display: inline-block;
    margin-left: 25px;
}

.securex-dropdown-button {
    display: inline-block;
    cursor: pointer;
}
.securex-dropdown-button span {
    display: block;
    font-size: 30px;
    line-height: 7px;
}
.securex-dropdown-menu {
    position: absolute;
    background: #FFF;
    width: 140px;
    padding: 5px 0;
    box-shadow: 2px 7px 15px -6px rgba(0,0,0,0.75);
    z-index: 9;
}
.securex-dropdown-menu button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: right;
    font-size: 12px;
    padding: 5px;
}
.securex-dropdown-menu button:hover {
    font-weight: bold;
    width: 100%;
}