body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-day {
  text-transform: capitalize;
  color: #9E9E9E;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header-day .header-weekday,
.header-day .header-weekday-number{
  display: block;
}

.securex-calendar table.resource-table .header3-text {
  display: none;
}

.securex-calendar .scheduler {
  margin: 0;
}

.securex-calendar.hidden-detail .event-short-name {
  display: none;
}

.securex-calendar .scheduler-view,
.securex-calendar .resource-view {
  border: none;
}

.securex-calendar table.resource-table th,
.securex-calendar table.resource-table tr,
.securex-calendar table.scheduler-bg-table th {
  border: none;
}

.securex-calendar .scheduler-view .timeline-event {
  border-radius: 0;
  overflow: visible;
}

.securex-calendar .scheduler-view .timeline-event:last-child {
  width: 47px !important;
}


.securex-calendar table.scheduler-bg-table .current-day {
  border: 1px solid #118dea;
}

.securex-calendar table.scheduler-bg-table .before-current-day {
  border-right: 0px;
}

.securex-calendar .event-working-hours,
.securex-calendar .event-short-name {
  display: block;
  width: 100%;
}

.securex-calendar .securex-calendar-event {
  height: calc(100% - 1px);
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  line-height: 13px;
  border-radius: 4px;
}

.securex-calendar .securex-calendar-event strong {
    display: block;
}



.securex-calendar .timeline-event.active .securex-calendar-event {
  border: 1px solid black;
}

.securex-calendar table.scheduler-bg-table tr {
  border-bottom: none;
}

.securex-calendar .scheduler-view {
  border: 1px solid #DFDFDF;
}

.securex-calendar .scheduler-view > div,
.securex-calendar .resource-view > div {
  border-bottom: none!important;
}

.securex-dropdown {
  min-width: 200px;
  max-width: 220px;
  position: absolute;
}

.securex-dropdown-group {
  cursor: pointer;
}

.securex-dropdown-group:hover {
  color: #4b71fd;
}

.securex-resource {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 18px;
  width: 93%;
}

.securex-popover {
  padding: 10px;
}

.securex-popover-container {
  width: 100%;
}

.securex-popover-hours {
  float: right;
}

.securex-popover-longlabel {
  margin-right: 20px;
}
.securex-popover-total {
  font-weight: bold;
}

.securex-popover-hours-total {
  float: right;
}

.securex-resource-name {
  font-size: 16px;
}

.securex-resource-additional {
  color: #9B9B9B;
}

.securex-resource-name,
.securex-resource-additional {
  display: block;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.securex-resource-left {
  float: left;
  width: 70%;
}
.securex-resource-right {
  float: left;
  width: 30%;
  line-height: 35px;
}
.securex-resource-warning {
  display: inline-block;
  position: absolute;
}
.securex-resource-icon {
  color: #D53941;
}

.securex-resource-icon:hover .securex-tooltip {
  visibility: visible;
  opacity: 1;
}

.securex-tooltip {
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity .6s;
  top: 170%;
  left: 50%;
  margin-left: -60px;
  white-space: normal;
  font-family: auto;
}

.securex-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 60px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.custom-option {
  padding: 10px 15px;
}

.custom-option h4 {
  font-size: 16px;
}

.custom-option:hover {
  background: #6698fd;
  cursor: pointer;
}

.custom-option.custom-option-parent h4 {
  font-size: 14px;
  color: #aeaeae;
}

.securex-calendar-event.moreThanFour:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid #5AB5BB;
}

.securex-calendar-event.selected {
  /*border: 3px solid rgb(43, 190, 195);*/
}

.timeline-event.firstItem .securex-calendar-event.selected:after {
  border-bottom: none;
}
.timeline-event.lastItem .securex-calendar-event.selected:after {
  border-top: none;
}
.timeline-event.multiItem .securex-calendar-event.selected:after {
  border-top: none;
  border-bottom: none;
}


.securex-calendar-event.selected:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(43, 190, 195);
  left: 0;
  top: 0;
}
